body {
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family:'Noto Sans';
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 11px;
  margin-left: 0px;
  padding: 9px 13px;
  background-color: rgba(0, 255, 213, 0.49);
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Lato;
  color: black;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  text-shadow: #78f7e2 0px 0px 10px;
}
h1:hover {
  background-color: #78f7e2;
  box-shadow: white 0px 2px 0px 0px inset;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
h1:focus {
  margin-top: -3px;
  margin-left: -3px;
  border: 3px dashed black;
  box-shadow: none;
}
h2 {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 9px 13px;
  background-color: rgba(0, 0, 0, 0.49);
  color: white;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-right: 0px;
  margin-bottom: 6px;
  margin-left: 0px;
  padding-top: 45px;
  border-width: 1px;
  border-color: black;
  box-shadow: none;
  font-family: Varela;
  font-size: 31px;
  line-height: 24px;
  letter-spacing: 0px;
  text-shadow: none;
}
h5 {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  font-size: 14px;
}
img {
  display: inline;
  height: auto;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 12px 31px;
  border-radius: 5px;
  background-color: black;
  background-image: none;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
}
.button:hover {
  background-color: #78f7e2;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: black;
}
.button.action {
  position: relative;
  z-index: 1;
  width: 130px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.button.action:active {
  opacity: 0;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.button.action.under {
  top: -44px;
  z-index: 0;
  margin-bottom: 0px;
  background-color: red;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.section {
  padding: 43px 4px;
  float: none;
  clear: both;
}
.section.footer {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f2f2f2;
}
.nav-link {
  position: relative;
  top: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 14px;
  border-radius: 3px;
  background-color: #f1f1f1;
  box-shadow: black 0px -1px 0px 0px inset;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: black;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}
.nav-link:hover {
  background-color: #969696;
  box-shadow: black 0px -1px 0px 0px inset, black 0px 0px 3px 0px inset;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.nav-link:focus {
  position: relative;
  top: 60px;
}
.nav-bar {
  position: fixed;
  top: -55px;
  z-index: 10;
  width: 100%;
  padding: 14px;
  background-color: rgba(209, 209, 209, 0.61);
  background-image: none;
  box-shadow: rgba(0, 0, 0, 0.30) 0px 2px 0px 0px;
  opacity: 0.67;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  text-align: right;
}
.nav-bar:hover {
  top: 0px;
  background-color: #d1d1d1;
  opacity: 1;
}
.nav-bar:focus {
  box-shadow: rgba(0, 0, 0, 0.29) 0px 2px 0px 0px, #7af7e2 0px 0px 0px 3px inset;
  opacity: 1;
}
.hero-bg {
  width: auto;
  min-height: 500px;
  padding-top: 334px;
  padding-right: 14px;
  padding-left: 14px;
  background-color: #f1f1f1;
  background-image: url('../images/Cover.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: scroll;
  box-shadow: rgba(0, 0, 0, 0.74) 0px -16px 16px -16px inset;
}
.subtitle {
  display: inline;
  width: auto;
  padding: 4px 7px;
  background-color: rgba(0, 0, 0, 0.70);
  box-shadow: none;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  color: rgba(115, 255, 232, 0.81);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}
.section-description {
  display: inline-block;
  margin-top: 13px;
  font-size: 14px;
}
.snippet-img {
  height: 438px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(153, 204, 255, 0.34);
  background-image: url('../images/Screen%20Shot%202013-12-21%20at%2011.04.20%20AM.PNG');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.snippet-img.small {
  height: 219px;
  background-image: url('../images/Screen%20shot%202013-08-06%20at%203.03.40%20PM%20copy.png');
  background-position: 50% 50%;
  background-size: cover;
}
.snippet-img.small._1 {
  background-image: url('../images/Screen%20shot%202013-08-06%20at%203.03.40%20PM%20copy.png');
  background-position: 50% 50%;
}
.snippet-img.small._2 {
  background-image: url('../images/canvas%20(solid%20cell).png');
  background-position: 50% 50%;
}
.snippet-img.small._3 {
  background-color: rgba(255, 255, 255, 0.43);
  background-image: url('../images/Macrophone%20screenshot.png');
  background-size: contain;
}
.snippet {
  display: block;
  border: 2px solid #f1f1f1;
  background-color: #f2f2f2;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: black;
  text-decoration: none;
}
.snippet:hover {
  margin-top: -4px;
  margin-bottom: 4px;
  background-color: #dbdbdb;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #407f74;
}
.snippet.small {
  margin-top: 15px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.snippet.small:hover {
  margin-top: 11px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.snippet-text-section {
  padding: 10px 12px;
}
.snippet-title {
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 700;
}
.snippet-text {
  color: #737373;
  font-size: 14px;
  line-height: 19px;
}
.button-column {
  padding-top: 38px;
  text-align: center;
}
.footer-link {
  display: inline;
  margin-right: 0px;
  margin-left: 0px;
  float: none;
  color: #008cff;
  font-size: 14px;
  text-decoration: none;
}
.footer-nav-bar {
  text-align: right;
}
.left-footer-col {
  float: left;
}
.footer-text {
  display: inline-block;
  margin-right: 2px;
  font-size: 14px;
}
.content-bg {
  min-height: 420px;
  padding-top: 292px;
  background-color: black;
  background-image: url('../images/Blue%3Ablack%20background.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: rgba(0, 0, 0, 0.74) 0px -16px 16px -16px inset, rgba(0, 0, 0, 0.74) 0px 16px 16px -16px inset;
}
.content-bg.two {
  background-color: white;
  background-image: url('../images/Black%3Awhite%20background.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: rgba(0, 0, 0, 0.74) 0px -16px 16px -16px inset, rgba(0, 0, 0, 0.74) 0px 16px 16px -16px inset;
}
.link {
  position: static;
  display: inline-block;
  margin-left: 1px;
  padding: 7px 4px;
  background-color: rgba(0, 255, 213, 0.49);
  box-shadow: #7ffee9 0px -3px 0px 4px inset, white 0px -8px 0px 0px inset, black 0px -9px 0px 0px inset;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: black;
  text-decoration: none;
  text-shadow: white 0px 1px 0px;
}
.link:hover {
  background-color: white;
  box-shadow: #78f7e2 0px 0px 0px 4px inset, white 0px -8px 0px 0px inset, white 0px -9px 0px 0px inset;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #383838;
  text-decoration: none;
  text-shadow: white 0px 1px 0px;
}
.link:focus {
  left: -3px;
  top: -3px;
}
.sc-widget {
  height: auto;
  min-height: 80px;
  margin-top: 7px;
  margin-bottom: 7px;
  font-family: Lato;
}
.header-subtitle {
  display: inline;
  float: right;
  clear: none;
}
.cgi-images {
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  width: 100%;
  max-width: 960px;
  background-color: #80ffea;
  box-shadow: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.cgi-images:hover {
  -webkit-transition-delay: initial;
  -o-transition-delay: initial;
  transition-delay: initial;
}
.container {
  display: block;
  overflow-x: scroll;
  overflow-y: scroll;
  padding-right: 3px;
  padding-left: 3px;
}
.embed {
  height: 450px;
}
.embed.divider-below {
  padding-bottom: 19px;
  border-bottom: 1px solid black;
  border-radius: 3px;
}
.inline {
  display: inline-block;
  box-shadow: none;
  font-family:'Noto Sans';
  text-shadow: none;
}
.inline.amperstand {
  box-shadow: none;
  font-family: Lato;
  color: black;
  font-size: 3em;
  font-weight: 300;
  text-shadow: none;
}
.divider-below {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  border-radius: 2px;
}
.slider {
  height: 525px;
}
.slider-nav-icon {
  color: gray;
}
.slider-nav {
  position: absolute;
  top: -92%;
  height: 45px;
  padding-top: 15px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.slider-nav:hover {
  background-color: rgba(241, 241, 241, 0.8);
}
.slider-nav-side {
  background-color: rgba(255, 255, 255, 0);
  opacity: 0.49;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.slider-nav-side:hover {
  background-color: rgba(0, 0, 0, 0.27);
  opacity: 1;
}
@media (max-width: 991px) {
  h1 {
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    text-shadow: #78f7e2 0px 0px 10px;
  }
  .button {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .button.action {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .button.action.under {
    left: 0px;
    top: -44px;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .nav-link {
    box-shadow: black 0px -1px 0px 0px inset;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .hero-bg {
    background-image: url('../images/cover.png');
    background-position: 50% 50%;
    box-shadow: rgba(0, 0, 0, 0.74) 0px -16px 16px -16px inset;
  }
  .snippet-img {
    height: 330px;
    background-position: 50% 50%;
  }
  .snippet {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .content-bg {
    background-image: url('../images/%E0%A4%AB%E0%A4%BF%E0%A4%B0%20%E0%A4%B8%E0%A5%87%20%E0%A4%AC%E0%A4%BE%E0%A4%82%E0%A4%A7%20%E0%A4%95%E0%A5%87.jpg');
    background-position: 50% 50%;
    box-shadow: rgba(0, 0, 0, 0.74) 0px -16px 16px -16px inset, rgba(0, 0, 0, 0.74) 0px 16px 16px -16px inset;
  }
  .content-bg.two {
    background-image: url('../images/%E0%A4%96%E0%A5%81%E0%A4%A6%20%E0%A4%B0%E0%A4%96%E0%A4%BE%20%E0%A4%A5%E0%A4%BE.jpg');
    background-position: 50% 50%;
    box-shadow: rgba(0, 0, 0, 0.74) 0px -16px 16px -16px inset, rgba(0, 0, 0, 0.74) 0px 16px 16px -16px inset;
  }
  .link {
    padding: 4px;
    box-shadow: #7ffee9 0px -2px 0px 4px inset, black 0px -7px 0px 0px inset;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    text-shadow: white 0px 1px 0px;
  }
  .cgi-images {
    box-shadow: black 0px 0px 0px 2px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .slider {
    height: 404px;
  }
}
@media (max-width: 767px) {
  h4 {
    padding-top: 0px;
    font-size: 22px;
  }
  .button {
    display: block;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .button.action {
    width: 100%;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .button.action.under {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .section {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-link {
    box-shadow: black 0px -1px 0px 0px inset;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .nav-link:hover {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .nav-bar {
    z-index: 1;
  }
  .hero-bg {
    min-height: 100px;
    padding-top: 57px;
    padding-right: 11px;
    padding-left: 11px;
    background-image: url('../images/cover.png');
    background-position: 50% 50%;
    box-shadow: rgba(0, 0, 0, 0.74) 0px -16px 16px -16px inset;
  }
  .snippet-img {
    height: 260px;
  }
  .snippet {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .snippet:hover {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .button-column {
    position: static;
    display: inline-block;
    float: right;
    clear: none;
  }
  .footer-nav-bar {
    text-align: center;
  }
  .left-footer-col {
    margin-bottom: 13px;
    text-align: center;
  }
  .content-bg {
    min-height: 150px;
    padding-top: 0px;
    background-image: url('../images/%E0%A4%AB%E0%A4%BF%E0%A4%B0%20%E0%A4%B8%E0%A5%87%20%E0%A4%AC%E0%A4%BE%E0%A4%82%E0%A4%A7%20%E0%A4%95%E0%A5%87.jpg');
    background-position: 50% 50%;
    box-shadow: rgba(0, 0, 0, 0.74) 0px -16px 16px -16px inset, rgba(0, 0, 0, 0.74) 0px 16px 16px -16px inset;
  }
  .content-bg.two {
    background-image: url('../images/%E0%A4%96%E0%A5%81%E0%A4%A6%20%E0%A4%B0%E0%A4%96%E0%A4%BE%20%E0%A4%A5%E0%A4%BE.jpg');
    background-position: 50% 50%;
    box-shadow: rgba(0, 0, 0, 0.74) 0px -16px 16px -16px inset, rgba(0, 0, 0, 0.74) 0px 16px 16px -16px inset;
  }
  .link {
    box-shadow: #7ffee9 0px -2px 0px 4px inset, black 0px -7px 0px 0px inset;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    text-shadow: white 0px 1px 0px;
  }
  .header-subtitle {
    display: block;
  }
  .embed {
    position: relative;
    z-index: 0;
    height: 252px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .slider {
    height: 315px;
  }
}
@media (max-width: 479px) {
  .button {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .button.action {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .button.action.under {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .nav-link {
    left: -67%;
    box-shadow: black 0px -1px 0px 0px inset;
  }
  .hero-bg {
    background-image: url('../images/cover.png');
    background-position: 50% 50%;
    box-shadow: rgba(0, 0, 0, 0.74) 0px -16px 16px -16px inset;
  }
  .section-description {
    display: inline;
    width: 50%;
  }
  .snippet-img {
    height: 142px;
    background-position: 50% 50%;
  }
  .snippet {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .content-bg {
    min-height: 175px;
    background-image: url('../images/%E0%A4%AB%E0%A4%BF%E0%A4%B0%20%E0%A4%B8%E0%A5%87%20%E0%A4%AC%E0%A4%BE%E0%A4%82%E0%A4%A7%20%E0%A4%95%E0%A5%87.jpg');
    background-position: 50% 50%;
    box-shadow: rgba(0, 0, 0, 0.74) 0px -16px 16px -16px inset, rgba(0, 0, 0, 0.74) 0px 16px 16px -16px inset;
  }
  .link {
    display: inline;
    box-shadow: #7ffee9 0px 0px 0px 4px inset, black 0px -5px 0px 0px inset;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    text-shadow: white 0px 1px 0px;
  }
  .cgi-images {
    box-shadow: black 0px 0px 0px 2px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .slider {
    height: 177px;
  }
}